html, body, .app{
  height: 100vh;
  font-family: 'Roboto', sans-serif;
  min-width: 325px;
  text-align: center;
}

.nav {
  display: block;
  background: #2f2f2f;
  box-shadow: 0 10px 10px 5px #2f2f2f;
  text-decoration: none;
  position: fixed;
  height: 50px;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  min-width: 325px;
}

@media (max-width: 380px) {
  .nav{
    font-size: 3vw;
  }
}

.navlink {
  padding: 15px;
  display: inline-block;
  cursor: pointer;
}

.navlink:hover{
  text-decoration: none;
}

.bloglink{
  padding: 15px;
  color: orange;
  text-decoration: underline;
  display: inline-block;
  cursor: pointer;
  margin-left: 20px;
}

.navactive {
  background-color: #3e3e3e;
  border-bottom-left-radius: 10%;
  border-bottom-right-radius: 10%;
}

.home {
  display: block;
  overflow: hidden;
  position: relative;
  height: 100vh;
  transition: height .5s;
  background-image: url('./img/banner.jpg');
  background-position: 85% 70%;
  background-size: cover;
  box-shadow: 0 0 100px 20px black;
  z-index: 10;
}

.home h1 {
  font-size: 30px;
  font-size: 8vw;
  font-family: 'Cantarell', sans-serif;
  font-style: italic;
  text-shadow: 5px 5px 2px black;
  color: #cbcbcb;
  margin-top: 3%;
}

.home h2 {
  font-size: 40px;
  font-size: 4vw;
  text-shadow: 3px 3px 2px black;
  color: #cbcbcb;
  margin-top: 2%;
}

.banner {
  background-color: #2f2f2f;
  background-color: rgba(0, 0, 0, 0.7);
  box-shadow: 0 0 40px 8px #000000;
  margin-top: 50px;
  padding: 10px;
}

.headshot{
  width: 20vh;
  max-width: 250px;
  margin-right: 20px;
  border-radius: 50%;
  box-shadow: 0 0 50px 15px black;
}

.projects h1, .contact h1, .about h1{
  padding: 0;
  margin: 0;
  font-weight: bold;
  font-size: 4em;
  text-shadow: 0 0 15px grey;
}

.projects {
  display: block;
  overflow: hidden;
  color: black;
  padding-top: 50px;
  position: relative;
  background-color: #516a74;
  box-shadow: 0 0 100px 20px black;
  z-index: 8;
}

.projects .imgtiles{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

.projects .imgtile{
  max-width: 450px;
  margin: 3%;
  background: #CBCBCB;
  border-radius: 5px;
  border: 2px solid black;
  box-shadow: 0 0 20px black;
}

.projects img{
  border-radius: 10px;
  margin-top: 5%;
  width: 80%;
}

.about{
  display: block;
  position: relative;
  overflow: hidden;
  color: black;
  background-color: #4e6132;
  padding-top: 50px;
  padding-bottom: 50px;
  box-shadow: 0 0 100px 20px black;
  z-index: 7;
}

.about p{
  padding: 20px;
  font-size: 18px;
  max-width: 800px;
  margin: auto;
}

.contact {
  min-height: 400px;
  position: relative;
  overflow: hidden;
  padding-top: 50px;
  padding-bottom: 20px;
  background-color: #1d181f;
  color: white;
  z-index: 6;
}

.formContainer{
  display: flex;
  flex-flow: column;
  align-items: center;
  align-content: center;
}

.formError{
  color: red;
  font-size: 20px;
  transition: all .5s;
  overflow: hidden;
}

.contactForm{
  display: flex;
  min-height: calc(100vh - 200px);
  flex-flow: column;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.formFields{
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
}

.formField{
  display: flex;
  flex-flow: row;
  justify-content: space-around;
  align-items: center;
}

.formField>*{
  margin: 2%;
}

.contactSubmit{
  display: flex;
  flex-flow: row wrap;
  flex-basis: 100%;
  align-items: center;
  align-content: center;
  justify-content: center;
}

.contactSubmit button {
  width: 150px;
  color: black;
  margin: 20px;
}

.formField label{
  width: 100px;
}

.formLabel{
  flex: 0 3 2%;
  font-size: 2.4em;
}

.contactSent {
  height: calc(100vh - 200px);
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}

footer{
  background: #000516;
  position: relative;
  color: #EAEFFD;
  margin-top: auto;
  height: 140px;
  text-align: center;
  box-shadow: 0 0 30px 20px #000516;
  z-index: 99;
}

footer hr{
  width: 50%;
  border: 0;
  height: 1px;
  background-image: linear-gradient(to right, #000516, #F1814E, #000516);
  margin: 0 auto 10px;
}

.bap {
  background-color: red;
  height: 25px;
}
